<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake News Detection</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"
      integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/detect">Prediction</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="detection">
      <div class="result" id="fake">
        <h2>Is it Fake?</h2>
        <div class="result_box">
          <p id="fakepara">Yes, it is Fake*</p>
        </div>
        <img
          src="{{url_for('static', filename='Assets/Images/left.jpg')}}"
          alt=""
        />
      </div>

      <div class="container">
        <div id="form-container">
          <h2 class="text-white center">Detection Form</h2>
          <form action="/detect/predict" method="post" >
            <div class="mb-3">
              <label
                for="exampleFormControlInput1"
                class="form-label text-white"
                >Twitter_id</label
              >
              <input
                type="text"
                class="form-control"
                name="userid"
                id="userid"
                placeholder="@manish1ol"
              />
            </div>
            <div class="mb-3">
              <label
                for="exampleFormControlTextarea1"
                class="form-label text-white"
                >News Tweets</label
              >
              <textarea
                class="form-control"
                id="tweets"
                name="tweets"
                rows="3"
                placeholder="some text"
              ></textarea>
            </div>

            <button class="btn btn-primary "
                type="submit" id="btn-submit" >
              Submit
            </button>
            <!--<button class="btna" type="reset" id="reset">Reset</button>-->
          </form>
        </div>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal" 
          data-bs-target="#exampleModal"
          id="dis-btn"
          style="display:none"
        >
          Show Result
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              
                <h3 class=" text-black" style="text-align: center;margin-top: 20px;">
                  Real News
                </h3>
              <div class="modal-body" id="show-res">
                
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  ok
                </button>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="result" id="real">
        <h2>Is it Real?</h2>
        <div class="result_box">
          <p id="realpara">Yes, it is Real*</p>
        </div>
        <img
          src="{{url_for('static', filename='Assets/Images/right.jpg')}}"
          alt=""
        />
      </div>
    </section>

    <script>
      let modalBtn=document.getElementById('btn-submit')
      modalBtn.addEventListener("click",(e)=>{
        console.log('listinign event')
        e.preventDefault()
        res={{result}}
        src=""
        let displayDiv=document.getElementById('show-res') 
        var x = document.createElement("IMG");
        if(res){
          x.setAttribute("src", 'static/fail.gif');
        }
        else{
          x.setAttribute("src",src="static/success.gif")
        }
        x.setAttribute("width", "100%");
        x.setAttribute("height", "30%");
        x.setAttribute("alt", "gif image");
        displayDiv.appendChild(x);
        let displaybtn=document.getElementById('dis-btn')
        displaybtn.style.display='block'
      })
      
    </script>
  </body>
</html>
